<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <div class="update">
   <div class="text-field">
    <div>Title</div>
     <%= f.text_field :title %>
   </div>
   <div class="text-area">
     <div>body</div>
     <%= f.text_area :body %>
    </div>

    <div class="text-submit"><%= f.submit 'Update Book' %></div>

<% end %>

